.product{
    display: flex;
    /* overflow: hidden; */
    flex-direction: column;
    position: relative;
    margin: 15px 10px 15px 10px;
    transition: ease-in-out 300ms;
    border-radius: 10px;
    /* padding: 15px !important; */
    -webkit-user-select: none;
    min-height: 21rem !important;
    width: 250px; 
}
.product__container{
    /* margin-bottom: 0px; */
    flex: 1;
    /* overflow: hidden; */
    width: 250px;  
}
 
 
         
 

.product:hover{
    box-shadow: lightgray 0px 0px 10px 5px !important;
    cursor: pointer;
}

.product  img {
    /* align-self: center; */
    object-fit: cover;
    pointer-events: none;
    /* flex: 1; */
}

.product__images{
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.product__image1{
    opacity:1;
    transition:all .3s ease-out 0s;
    width: 70%;
    height: 100%;
}

.product__image2{
    opacity:0;
    transition:all .3s ease-out 0s;
    position: absolute;
    top: 0;
    left: auto;
    width: 70%;
    height: 100%;
    border: transparent;
}

.product:hover .product__image2 {
    opacity: 1;
}

.product:hover .product__discount {
    opacity: 0;
}

.product__discount{
    position: absolute;
    background-color: rgb(255, 37, 37);
    transition:all .3s ease-in-out 0s;
    top: 0;
    left: 0;
    width: fit-content;
    border-radius: 6px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding: 3px 3px;
} 

.product__isWish .MuiIconButton-root {
    /* padding: 2px !important; */
}

.product__isWish{
    position: absolute;
    top: 0;
    right: 0;
    color: rgb(255, 86, 86) !important;
    transition:all .3s ease-in-out 0s;
    opacity: 0;
    outline: none;
    border-color:'white';
}

.product__isWished{
    position: absolute;
    top: 0;
    right: 0;
    color: rgb(255, 86, 86) !important;
    transition:all .3s ease-in-out 0s;
    opacity: 1;
    outline: none;
    border-color:'white';

}
.titleproduct{

     
    display: inline-block;
    overflow-wrap:break-word;
}
.product__isWish:active{
   
    border-color:'blue';
    background-color: crimson;
}

.product:hover .product__isWish{
    opacity: 1;
}

.product__price{
    color: black;
    font-size: 18px !important;
    font-weight: 700 !important;
}

.product__price__old{
    margin-left: 5px;
    font-size: 18px !important;
    text-decoration: line-through;
    text-decoration-thickness: 3px;

}

.product__tags_container{
    display: flex;
    align-items: center;
    /* justify-content: space-; */
    width: 95%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.product__freeShipping{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 65%;
    margin-left: 5px;
    background-color: #D4E9D7;
    border-radius: 50px;
    padding: 3px 10px;
    /* width: min-content; */

}
.product__best__seller{
    /* margin-left: 5px; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    width: min-content;
    font-size: 12px !important;
    background-color: #FDEBD2;
    border-radius: 50px;
    padding: 3px 10px;
}

.product__istrending{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    width: min-content;
    font-size: 12px !important;
    border-radius: 50px;
    padding: 3px 10px;
    background-color: rgba(217, 48, 78, 0.2);
}

.product__rating{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.product__rating .MuiSvgIcon-root, .product__rating span{
    font-size: 14px !important;
    margin-right: 2px;
}

.product__best__seller .MuiSvgIcon-root{
    font-size: 12px !important;
}


.product__flashSale{
    color: rgb(240, 11, 11);
    background-color: rgb(255, 197, 197);
    width: fit-content;
    padding: 5px 10px;
    font-weight: 500;
}

.product__addtocart{
    opacity: 0;
    height: 50px;
    transition: all 0.2s ease-out 0s;
    transform: translateY(200%);
    margin-top: 0 !important;
}


.product:hover .product__addtocart{
    transform: translateY(0);
    opacity: 1;
}



 

 

.product:hover .product__image2{
  


}

.product:hover .product__image1{
    /* width: 90%; */
    /* margin: 0 auto !important; */
}

.product:hover .product__container{
    /* margin-bottom: 0px; */

}

/* ---------------------------------------- */
        /* HOW DO DISPLAY ON RESPONSIVE */
/* ---------------------------------------- */

@media screen and (max-width: 768px) {
    .product{
        box-shadow: lightgray 0px 0px 10px 5px !important;
    }
    .product__image2{
        display: none;
    }
    .product__addtocart{
        opacity: 1;
        transform: translateY(0) !important;
        margin-top: 0 !important;
        height: 50px;
    }
    .product__discount, .product__isWish{
        opacity: 1 !important;
    }
    .product__image1{
        width: 100% !important;
    }
  }

/* ---------------------------------------- */
        /* SLIDER MAKE ARROW VISIBLE */
/* ---------------------------------------- */

.slick-prev {
    left: 1% !important;
    z-index: 1;
  }
  .slick-next {
    right: 1% !important;
    z-index: 1;
  }

.slick-next:before, .slick-prev:before {
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: black;
}

.slick-list{
    width: 90%;
    margin: 0 auto;
}

/* ------------------------------------------------ */